
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  top: 0;
  left: 0;
    background: #190020; 
    background: -webkit-radial-gradient(#00056b, #00011a);  
    background: radial-gradient(#00056b, #00011a);     
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  height:100vh;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.panel-container {
  background-color: #12192c;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  font-size: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  max-width: 400px;
  color:#4e54c8;
  margin: 10px auto;
}

.panel-container strong {
  line-height: 20px;
}

.ratings-container {
  display: flex;
  margin: 20px 0;
}

.rating {
  flex: 1;
  cursor: pointer;
  padding: 20px;
  margin: 10px 5px;
  transition: .3s;
  position: relative;
  z-index: 10;
}

.rating:hover,
.rating.active {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0);
}

.rating img {
  width: 40px;
}

.rating small {
  color: #fff;
  display: inline-block;
  margin: 10px 0 0;
}

.rating:hover small,
.rating.active small {
  color: #8f94fb;
}

button {
	background-color: rebeccapurple;
	border-radius: 5px;
	box-shadow: 4px 4px 5px rgba(255, 255, 255, 0.15);
	border: none;
	color: white;
	cursor: pointer;
	padding: 1rem 2rem;
	position: relative;
	transition: transform 0.1s linear, box-shadow 0.1s linear;
	z-index: 10;
}

button:active {
	transform: translate(4px, 4px);
	box-shadow: 0 0 0 rebeccapurple;
}

button:focus {
	outline: none;
}

.particle {
	--x: 10;
	--y: 10;
	background-color: rebeccapurple;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	height: 5px;
	width: 5px;
	border-radius: 50%;
  z-index: -1;
}

.particle.move {
	animation: move 300ms linear forwards;
}
#colector_input{
  width: 5px;
  height: 5px;
  visibility: hidden;
  position: absolute;
}

@keyframes move {
	to {
		transform: translate(var(--x), var(--y));
	}
	
	95% {
		opacity: 1;
	}
	
	100% {
		opacity: 0;
	}
}
.move{
	width: 30px;
	height: 30px;
}

.fa-heart {
  color: red;
  font-size: 30px;
  margin-bottom: 10px;
}

  .true{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #00ff00;
    max-width:350px ;
    z-index: -2;
    position: absolute;
  }
  #notes{
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #00011a;
    color: #fff;
    padding: 10px;
    font-size: 15px;
  }
  .true img{
    width: 200px;
  }
.credit a{
    text-decoration: none;
    color: #fff;
  }

  .credit {
      text-align: center;
  }

